<!DOCTYPE html>
<html>
<head>
    <title>Glossary</title>

    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="lib/bootstrap-css/css/bootstrap.min.css" rel="stylesheet">
    <!-- Optional theme -->
    <link href="lib/bootstrap-css/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Latest compiled and minified JavaScript -->
    <script src="lib/bootstrap-css/js/bootstrap.min.js"></script>


    <script type="text/javascript">
        var app = angular.module('app', []);

        app.directive('ngEnter', function () {
            return function (scope, element, attrs) {
                element.bind("keydown keypress", function (event) {
                    if (event.which === 13) {
                        scope.$apply(function () {
                            scope.$eval(attrs.ngEnter);
                        });

                        event.preventDefault();
                    }
                });
            };
        });

        //        API_URL = '/api/search';
        API_URL = '/api/v2/search';

        app.controller('Ctrl', function ($scope, $http) {
            $scope.find = function (letter) {
                if (letter == undefined || letter == '') return;

                console.log(letter)

                $http.get(API_URL, {
                    params: {q: letter}
                }).then(function (response) {
                    var tmp = response.data['results'];
                    for (var x in tmp) {
//                        tmp[x].isShowDesc = false;
                        tmp[x].isShowDesc = true;
                    }
                    $scope.results = tmp;
                }, function (response) {
                    $scope.results = []
                })
            }

            $scope.show_desc = function (key) {
                // skip function
                return

                var obj = $('.desc_' + key)
//                console.log(obj)
                if ($scope.results[key].isShowDesc) {
                    $scope.results[key].isShowDesc = false
                } else {
                    $scope.results[key].isShowDesc = true
                }

            }
        })
    </script>

    <style type="text/css">
        #find {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        /*.glossary {*/
        /*user-select: none;*/
        /*-webkit-user-select: none;*/
        /*}*/
    </style>

</head>

<!--tracking-->

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//10.0.0.200:8088/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//10.0.0.200:8088/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

<body ng-app="app" ng-controller="Ctrl">
<div class="container">
    <center>
        <div id="find" class="input-group ">
            <input type="text" class="form-control"
                   placeholder="Enter something..." ng-model="letter" ng-enter="find(letter)">

            <div class="input-group-btn">
                <button type="submit" class="btn btn-success" ng-click="find(letter)">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
    </center>

    <div class="table-responsive glossary">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="col-md-6 text-center">English</th>
                <th class="col-md-6 text-center">Vietnamese</th>
            </tr>
            </thead>

            <!--<tbody>-->
            <!--<tr ng-repeat="(key, result) in results" ng-click="show_desc(key)">-->
            <!--<td>-->
            <!--<div>{{ result.en_term }}</div>-->
            <!--<div ng-show="result.isShowDesc" class="desc_{{key}}">-->
            <!--<hr/>-->
            <!--{{ result.en_desc }}-->
            <!--</div>-->
            <!--</td>-->
            <!--<td>-->
            <!--<div>{{ result.vi_term }}</div>-->
            <!--<div ng-show="result.isShowDesc" class="desc_{{key}}">-->
            <!--<hr/>-->
            <!--{{ result.vi_desc }}-->
            <!--</div>-->
            <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->

            <tbody>
            <tr ng-repeat="(key, result) in results" ng-click="show_desc(key)">
                <td>
                    <div>{{ result['_source'].en_term }}</div>
                    <div ng-show="result.isShowDesc" class="desc_{{key}}">
                        <hr/>
                        {{ result['_source'].en_desc }}
                    </div>
                </td>
                <td>
                    <div>{{ result['_source'].vi_term }}</div>
                    <div ng-show="result.isShowDesc" class="desc_{{key}}">
                        <hr/>
                        {{ result['_source'].vi_desc }}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
